.section {
  margin-top: 30px;
  margin-bottom: 30px;
}

$tblRowHoverColor: #eee;
$tblBorderColor: #ddd;

.data-tbl {

  > thead > tr,
  > tbody > tr {
    border-bottom: 1px solid $tblBorderColor;

    td {
      font-size: 16px; font-size: 1.6rem;
      line-height: 2rem;
      padding: 1rem;
    }
  }
  > thead > tr {
    border-top: 1px solid $tblBorderColor;

    > td {
      font-size: 18px; font-size: 1.8rem;
      font-weight: bold;
      padding: 1.2rem;
    }
  }
  > tbody > tr {

    &:hover {
      background-color: $tblRowHoverColor;
    }
  }
}

.test-tbl {
  > thead > tr > td {
    text-align: center;
  }
}

.test {
  position: relative;
  display: flex;

  justify-content: left;

  > div {
    position: relative;
    display: block;
    background-color: lightgray;
    text-align: center;
    font-size: 20px; font-size: 2.0rem;
  }
}
