<div class="container">
  <div class='section'>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem id ducimus, praesentium error ipsum recusandae sunt perspiciatis. Obcaecati reprehenderit recusandae maiores, iure, ea qui laudantium culpa, amet necessitatibus incidunt dolor.</p>
    <p>Quis facilis cum, voluptas explicabo facere ab, id veniam eveniet eligendi, quisquam hic. Adipisci, molestiae blanditiis ex dignissimos illum placeat facere ducimus corrupti ut, cum enim molestias, perspiciatis aliquam. Maiores!</p>
    <p>Tenetur doloribus excepturi, harum accusamus et alias sequi explicabo odit officiis vero unde reprehenderit fugit earum aliquam rerum dolor iure temporibus, totam. Quos aliquid harum praesentium repellendus nam voluptate at?</p>
  </div>
  <parlax-billboard height='400px' src='/content/images/parlax-bg01.png'>
    <h1>Centered Content</h1>
  </parlax-billboard>
  <div class='section'>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsum ad debitis ipsam, atque nesciunt laborum. At aliquam excepturi ullam fuga eos ipsum eum consequuntur, ipsa necessitatibus provident, vel fugiat.</p>
    <p>Corporis corrupti ad possimus veniam ducimus consequuntur at, provident aut earum inventore quo numquam, fugit nisi cumque magnam ipsam deleniti delectus veritatis exercitationem est quaerat labore dolorem hic laudantium. Perferendis!</p>
    <p>Ipsam sapiente, est excepturi illum, placeat vel, cupiditate eius omnis earum porro, amet. Molestiae tempora atque accusamus. Illum, ad, id! Recusandae itaque quaerat qui assumenda, quae voluptatibus eos doloremque illum!</p>
  </div>
</div>