<div class="container-fluid">
  <div class="section">

    <div class='test'>
      <div>Title One</div>
      <div>Title Two</div>
      <div>Title Three</div>
    </div>

    <table class='test-tbl'>
      <thead>
        <tr>
          <td>Title One</td>
          <td>Title Two</td>
          <td>Title Three</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis odio officiis eum maxime animi iure, nihil ea aut sit molestias mollitia quos accusamus, sequi voluptatibus sint, ducimus perferendis itaque.</td>
          <td>Nulla eaque, modi ipsam, deserunt inventore aliquid odio voluptatum fuga beatae impedit maiores vel in. Reprehenderit iusto dolorem quidem reiciendis aut quos asperiores temporibus placeat. Similique delectus expedita pariatur vel.</td>
          <td>Praesentium minima mollitia animi nemo? Consectetur facere modi perspiciatis quis perferendis minima fugiat accusamus quam magnam placeat, cumque aut distinctio, itaque iure nostrum, labore, pariatur veritatis dicta reprehenderit. Eaque, dolore.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet suscipit accusantium iste molestias, ullam obcaecati fugiat consectetur aut, autem, harum illo cum sint perferendis. Ab vero, tempora totam a.</td>
          <td>Cumque sint, quaerat? Temporibus porro aperiam quam at, animi cupiditate enim. Mollitia itaque magnam totam necessitatibus eveniet. Officiis sit, iure rem error eius ipsum, provident hic dolorem nam, eos ut.</td>
          <td>Aspernatur recusandae provident minus non laborum accusantium, fugiat debitis ratione numquam quas omnis incidunt eaque delectus itaque libero nisi maxime voluptate voluptatibus. A repellendus nostrum et, accusantium quisquam, odio qui.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae earum, eos labore tempora, et doloribus nobis voluptatum, ad laborum aspernatur dolorum sunt in suscipit consectetur laudantium veritatis maxime placeat ipsum.</td>
          <td>Mollitia harum, ad dignissimos error illo culpa blanditiis dolorum neque est doloremque natus consequatur quibusdam dolor officia repudiandae alias, magnam amet totam. Explicabo perferendis veritatis repudiandae a necessitatibus voluptatum nam.</td>
          <td>Cum odio maxime accusantium soluta reprehenderit blanditiis, est quaerat atque minus quos veritatis, nisi optio temporibus aliquam, fugiat sapiente delectus cupiditate, perspiciatis vel quas nemo! Aliquid, accusantium ullam molestias explicabo.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro placeat iure exercitationem consectetur autem. Commodi, delectus, officiis molestias deserunt hic optio earum nisi repellat tenetur! Natus nostrum, ducimus rerum eveniet!</td>
          <td>Omnis perspiciatis neque ipsa perferendis alias mollitia eveniet. Accusamus quasi maiores, facere maxime fugit iusto. Voluptate velit error quasi fuga, sequi praesentium, ipsa accusantium harum, ea eaque sapiente explicabo, tempore!</td>
          <td>Recusandae necessitatibus aperiam officiis excepturi illum quam quae ad minus optio sint, doloribus maxime dicta, molestias, explicabo sed. Tempora voluptas porro nihil odit illum quas quisquam cumque fugiat molestias aspernatur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos est mollitia beatae fugiat similique consequatur eaque commodi praesentium obcaecati neque, nihil qui at, expedita iste saepe atque. At, soluta, in!</td>
          <td>Quos nobis perspiciatis cupiditate reprehenderit ex, rem magni suscipit consequatur atque, assumenda ullam. Nam vitae doloribus saepe numquam alias beatae, odio hic minus perspiciatis. Vel voluptate, quibusdam nulla harum eligendi.</td>
          <td>Labore sequi officiis sint culpa excepturi deserunt nulla fuga, voluptatibus, doloribus esse? Placeat fugit voluptates perferendis consequatur incidunt optio iste sunt est porro magni deserunt, sed magnam facilis. Debitis, officiis.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam distinctio, dolore labore in numquam eos eius. Quia accusantium reiciendis a officia nemo consequuntur minus assumenda hic iure, deserunt quaerat facere.</td>
          <td>Eius commodi dignissimos iure id quae reprehenderit ducimus a amet dolorum architecto, asperiores neque voluptate vero assumenda quasi at reiciendis voluptatum accusantium eaque, repudiandae aut cupiditate in. Molestias, quia quisquam.</td>
          <td>Tempora porro, reprehenderit voluptatum, provident sequi enim labore temporibus. Similique at unde, deserunt reprehenderit facilis. Maxime eaque quis, dolor necessitatibus nobis minima et eius natus ab, enim possimus in. Dignissimos?</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consectetur repellat, corporis, nostrum magnam similique eveniet. Aspernatur architecto vero ducimus officia harum voluptates aut eum beatae iste! Ex, quaerat, modi?</td>
          <td>Laudantium exercitationem, deleniti delectus non impedit repellat? Adipisci dolore assumenda natus excepturi, doloremque aliquid, odit ipsum dignissimos architecto aspernatur tenetur in. Ad, maxime omnis laborum quaerat non dolor, autem voluptates!</td>
          <td>Reprehenderit possimus voluptatum, voluptatibus harum aperiam magni dolorem doloremque praesentium vel officia, dignissimos maxime esse beatae perspiciatis illo. Incidunt nihil et consequatur veritatis officia, a cupiditate consequuntur quidem magni dolore.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorem commodi consequatur assumenda, provident earum tempore at quis illo sequi quam magnam ipsam alias hic perspiciatis? Officia illum iure doloribus.</td>
          <td>Cupiditate obcaecati voluptatibus adipisci reprehenderit temporibus, nihil, dolorem tempore praesentium iure ducimus. Voluptas doloremque, excepturi quae omnis nemo! Pariatur omnis eius error laborum voluptas, minima at rerum consectetur recusandae ipsum?</td>
          <td>Quo asperiores esse beatae sequi veniam quos reiciendis officia dolores excepturi debitis ipsam, molestiae sunt ut. Dignissimos quas debitis accusantium suscipit maiores nihil facilis harum, temporibus eum? Veritatis, quaerat consequatur!</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, earum error perferendis voluptatem, omnis repellat labore quia accusantium dolor magni modi perspiciatis sequi unde quidem quibusdam numquam nesciunt maxime culpa!</td>
          <td>Placeat culpa praesentium temporibus vero nam ad ab consequatur hic odio itaque eos eveniet saepe adipisci, ducimus deleniti dolorem. Culpa eos est earum adipisci eligendi iusto non saepe omnis voluptate.</td>
          <td>Recusandae, ea soluta alias fugiat vel velit architecto itaque beatae, mollitia magnam eligendi dolores neque amet porro, animi ipsam iste repellat maiores placeat. Voluptatum placeat, maxime quidem nemo quisquam unde.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dignissimos illum cupiditate tempora, assumenda incidunt asperiores doloribus itaque, magni molestiae qui blanditiis laudantium sit sapiente ullam aperiam laboriosam similique culpa.</td>
          <td>Totam animi vitae natus voluptate fuga nulla alias deserunt deleniti quibusdam omnis earum modi illum doloribus tempora quam cupiditate magni, labore nesciunt sunt ducimus officiis! Quae architecto, quidem in ducimus?</td>
          <td>Suscipit rerum repellat maxime fugit vel nostrum, laboriosam odio dolor provident aliquid quasi ipsum nisi quos non esse voluptatum doloremque odit nam voluptatem facilis necessitatibus culpa! Incidunt ducimus voluptates autem.</td>
        </tr>
      </tbody>
    </table>

    <table class='data-tbl stretch'>
      <thead>
        <tr>
          <td>ID</td>
          <td>Lorem</td>
          <td>Showing</td>
        </tr>
      </thead>
      <tbody>
        <tr class='item-data' *ngFor='let lorem of lorems'>
          <td>###</td>
          <td>
            <span title='{{lorem}}'>{{lorem | ellipsis : 100 : sizeRelative}}</span>
          </td>
          <td><div style='width:100px;height:20px;background-color:azure'></div></td>
        </tr>
      </tbody>
    </table>

  </div>

  <parlax-billboard height='400px' src='/content/images/parlax-bg01.png'>
    <h1>Centered Content</h1>
  </parlax-billboard>

  <sort-table [data]='data'></sort-table>

</div>