<nav id='top-nav' [ngClass]='getTopNavClasses()'>
  <div *ngIf='isCollapsedMenu()' class='toggle-wrap'>
    <div class='toggle' (click)='toggleDrawerState($event)'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </div>
  </div>
  <div *ngIf='isCollapsedMenu()' class='item-wrap-vert'>
    <div class='icon fa fa-remove' (click)='closeDrawer()'></div>
    <ul class='items'>
      <li *ngFor='let item of menuItems'>
        <a
          routerLink='{{item.link}}'
          routerLinkActive='active'
          (click)="onItemClick($event)">{{item.text}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf='isFullMenu()' class='item-wrap-horz'>
    <ul class='items'>
      <li *ngFor='let item of menuItems'>
        <a
          routerLink='{{item.link}}'
          routerLinkActive='active'
          (click)="onItemClick($event)">{{item.text}}</a>
      </li>
    </ul>
  </div>
</nav>
