#top-nav {
  position: relative;
  display: block;
  margin-bottom: 50px;

  > .toggle-wrap {
    text-align: center;

    .toggle {
      position: relative;
      display: inline-block;

      margin: 8px 15px;
      padding: 9px 10px;
      border: 1px solid #7a7a7a;

      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }

      > .icon-bar {
        display: block;

        margin-top: 5px;
        width: 35px;
        height: 3px;

        background-color: #7a7a7a;

        border-radius: 1px;
      }
      > span.icon-bar:nth-of-type(2) {
        margin-top: 0;
      }
    }
  }

  .item-wrap-horz, .item-wrap-vert {
    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    ul {
      position: relative;
      display: block;

      margin: 0;
      padding: 0;

      list-style-type: none;
      text-align: center;

      > li {
        position: relative;
        display: block;

        padding: 0 30px;

        text-transform: uppercase;

        > a {
          position: relative;
          display: block;

          padding: 10px 5px;

          font-family: Freight;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 1px;
          text-decoration: none;

          color: #7a7a7a;
          text-shadow: none;
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);

          &:hover {
            color: #111111;
          }

          > div.newFlag {
            position: absolute;
            top: 0;
            right: 0;

            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  .item-wrap-horz {
    ul.items > li {
      display: inline-block;

      > a.active {
        border-bottom: 1px solid #7a7a7a;
      }
    }
  }

  .item-wrap-vert {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;

    background-color: #000;
    z-index: 100;
    opacity: 0.95;

    > .icon {
      display: block;
      text-align: right;
      margin: 10px;
      font-size: 30px;
      cursor: pointer;
    }
    ul > li {
      position: relative;
      display: block;
      padding: 0;

      text-align: left;

      > a {
        display: block;

        margin: 0;
        padding: 10px 20px;

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}
