.title {
  font-size: 30px;
}
.section {
  color: #444;
  padding-bottom: 60px;
}
ul.icons {
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;
    font-size: 40px;
    margin: 10px;
    color: seagreen;
  }
}

img.mascot {
  max-height: 400px;
}