<div class="page">

  <div class="section" pinAt>
    <div class="slide container">
      <div class="row">
        <div class="col-xs-12">
          <div>
            <div class="title"></div>
            <ul class="icons">
              <li class="icon fa fa-star"></li>
              <li class="icon fa fa-music"></li>
              <li class="icon fa fa-heart"></li>
              <li class="icon fa fa-search"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt ea tempora facilis minima, libero ipsam quam deserunt voluptatem. Quia illo, quas, eos vero eligendi ipsa inventore nulla quod accusamus.</p>
          <p>Unde dolore, numquam maiores nam, deserunt adipisci voluptas odio earum labore excepturi architecto ab similique nesciunt cupiditate harum vero, quas nihil amet tempore dolorem odit. Earum deserunt tenetur, cumque dolor.</p>
          <p>Odio reiciendis iusto expedita nihil in inventore ut! Recusandae, labore atque libero ducimus nobis laboriosam minus. Recusandae vel consequuntur laboriosam magni, accusantium atque aspernatur voluptate! Quae porro inventore sunt quaerat.</p>
          <p>Ab delectus accusamus velit. Quas facilis blanditiis nihil mollitia, aperiam, odio laborum veritatis quo maxime animi nulla molestias error consequuntur inventore veniam eligendi dicta nisi, incidunt quos aut numquam fugit?</p>
          <p>Itaque expedita placeat, totam voluptates consequuntur rerum aspernatur accusamus voluptatibus ratione velit suscipit alias nostrum, adipisci nihil maxime commodi ea qui quibusdam aperiam sunt porro. Alias, consectetur magni id dolores!</p>
          <p>Voluptatum autem voluptate ex nihil distinctio magni expedita cumque consectetur vitae in voluptas reprehenderit repudiandae adipisci quia, pariatur quod quisquam non quaerat necessitatibus, eum modi dolores quo! Ut, corrupti, consequatur!</p>
          <p>Nemo vel qui, numquam totam aliquam aperiam minima illo distinctio delectus earum corrupti, quas iusto voluptatum, debitis sunt harum velit possimus officia unde exercitationem, quaerat eaque amet libero? Et, voluptatum!</p>
          <p>Animi quos illo, iure assumenda explicabo iusto dolor doloribus quam aliquid veniam, dolorem tempore numquam praesentium alias cum neque sit deserunt laudantium non! Ipsum, illum. Porro accusantium molestias quos expedita?</p>
        </div>
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum doloremque alias laborum at quod, blanditiis atque illum sapiente culpa ipsum praesentium, porro inventore magni deserunt, fugiat! Ullam placeat fuga quia!</p>
          <p>Dolorum dolore fuga unde magni dolorem accusantium eius, accusamus ex id ea laudantium laboriosam in architecto beatae, illum non ipsam eveniet molestias incidunt harum. Consequatur nihil non voluptatum animi eos.</p>
          <p>Corrupti sapiente harum deserunt illo, facilis officia vel cumque aliquid asperiores suscipit rerum dolorem exercitationem blanditiis voluptatum ducimus, soluta commodi libero at alias, excepturi saepe et! Ut eligendi, ratione consectetur.</p>
          <img src='/content/images/logo.png' class='img-responsive mascot' flyIn [trigger]='0.8' />
        </div>
      </div>
      <div class='end-'></div>
    </div>
  </div>

  <div class="section" pinAt>
    <div class="slide container">
      <div class="row">
        <div class="col-xs-12">
          <div>
            <div class="title"></div>
            <ul class="icons">
              <li class="icon fa fa-star"></li>
              <li class="icon fa fa-music"></li>
              <li class="icon fa fa-heart"></li>
              <li class="icon fa fa-search"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt ea tempora facilis minima, libero ipsam quam deserunt voluptatem. Quia illo, quas, eos vero eligendi ipsa inventore nulla quod accusamus.</p>
          <p>Unde dolore, numquam maiores nam, deserunt adipisci voluptas odio earum labore excepturi architecto ab similique nesciunt cupiditate harum vero, quas nihil amet tempore dolorem odit. Earum deserunt tenetur, cumque dolor.</p>
          <p>Odio reiciendis iusto expedita nihil in inventore ut! Recusandae, labore atque libero ducimus nobis laboriosam minus. Recusandae vel consequuntur laboriosam magni, accusantium atque aspernatur voluptate! Quae porro inventore sunt quaerat.</p>
          <p>Ab delectus accusamus velit. Quas facilis blanditiis nihil mollitia, aperiam, odio laborum veritatis quo maxime animi nulla molestias error consequuntur inventore veniam eligendi dicta nisi, incidunt quos aut numquam fugit?</p>
          <p>Itaque expedita placeat, totam voluptates consequuntur rerum aspernatur accusamus voluptatibus ratione velit suscipit alias nostrum, adipisci nihil maxime commodi ea qui quibusdam aperiam sunt porro. Alias, consectetur magni id dolores!</p>
          <p>Voluptatum autem voluptate ex nihil distinctio magni expedita cumque consectetur vitae in voluptas reprehenderit repudiandae adipisci quia, pariatur quod quisquam non quaerat necessitatibus, eum modi dolores quo! Ut, corrupti, consequatur!</p>
          <p>Nemo vel qui, numquam totam aliquam aperiam minima illo distinctio delectus earum corrupti, quas iusto voluptatum, debitis sunt harum velit possimus officia unde exercitationem, quaerat eaque amet libero? Et, voluptatum!</p>
          <p>Animi quos illo, iure assumenda explicabo iusto dolor doloribus quam aliquid veniam, dolorem tempore numquam praesentium alias cum neque sit deserunt laudantium non! Ipsum, illum. Porro accusantium molestias quos expedita?</p>
        </div>
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum doloremque alias laborum at quod, blanditiis atque illum sapiente culpa ipsum praesentium, porro inventore magni deserunt, fugiat! Ullam placeat fuga quia!</p>
          <p>Dolorum dolore fuga unde magni dolorem accusantium eius, accusamus ex id ea laudantium laboriosam in architecto beatae, illum non ipsam eveniet molestias incidunt harum. Consequatur nihil non voluptatum animi eos.</p>
          <p>Corrupti sapiente harum deserunt illo, facilis officia vel cumque aliquid asperiores suscipit rerum dolorem exercitationem blanditiis voluptatum ducimus, soluta commodi libero at alias, excepturi saepe et! Ut eligendi, ratione consectetur.</p>
          <img src='/content/images/logo.png' class='img-responsive mascot' flyIn [trigger]='0.8' />
        </div>
      </div>
      <div class='end-'></div>
    </div>
  </div>

  <div class="section" pinAt>
    <div class="slide container">
      <div class="row">
        <div class="col-xs-12">
          <div>
            <div class="title"></div>
            <ul class="icons">
              <li class="icon fa fa-star"></li>
              <li class="icon fa fa-music"></li>
              <li class="icon fa fa-heart"></li>
              <li class="icon fa fa-search"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt ea tempora facilis minima, libero ipsam quam deserunt voluptatem. Quia illo, quas, eos vero eligendi ipsa inventore nulla quod accusamus.</p>
          <p>Animi quos illo, iure assumenda explicabo iusto dolor doloribus quam aliquid veniam, dolorem tempore numquam praesentium alias cum neque sit deserunt laudantium non! Ipsum, illum. Porro accusantium molestias quos expedita?</p>
        </div>
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum doloremque alias laborum at quod, blanditiis atque illum sapiente culpa ipsum praesentium, porro inventore magni deserunt, fugiat! Ullam placeat fuga quia!</p>
          <img src='/content/images/logo.png' class='img-responsive mascot' flyIn [trigger]='0.8' />
        </div>
      </div>
      <div class='end-'></div>
    </div>
  </div>

  <div class="section" pinAt>
    <div class="slide container">
      <div class="row">
        <div class="col-xs-12">
          <div>
            <div class="title"></div>
            <ul class="icons">
              <li class="icon fa fa-star"></li>
              <li class="icon fa fa-music"></li>
              <li class="icon fa fa-heart"></li>
              <li class="icon fa fa-search"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt ea tempora facilis minima, libero ipsam quam deserunt voluptatem. Quia illo, quas, eos vero eligendi ipsa inventore nulla quod accusamus.</p>
          <p>Unde dolore, numquam maiores nam, deserunt adipisci voluptas odio earum labore excepturi architecto ab similique nesciunt cupiditate harum vero, quas nihil amet tempore dolorem odit. Earum deserunt tenetur, cumque dolor.</p>
          <p>Odio reiciendis iusto expedita nihil in inventore ut! Recusandae, labore atque libero ducimus nobis laboriosam minus. Recusandae vel consequuntur laboriosam magni, accusantium atque aspernatur voluptate! Quae porro inventore sunt quaerat.</p>
          <p>Ab delectus accusamus velit. Quas facilis blanditiis nihil mollitia, aperiam, odio laborum veritatis quo maxime animi nulla molestias error consequuntur inventore veniam eligendi dicta nisi, incidunt quos aut numquam fugit?</p>
          <p>Itaque expedita placeat, totam voluptates consequuntur rerum aspernatur accusamus voluptatibus ratione velit suscipit alias nostrum, adipisci nihil maxime commodi ea qui quibusdam aperiam sunt porro. Alias, consectetur magni id dolores!</p>
          <p>Voluptatum autem voluptate ex nihil distinctio magni expedita cumque consectetur vitae in voluptas reprehenderit repudiandae adipisci quia, pariatur quod quisquam non quaerat necessitatibus, eum modi dolores quo! Ut, corrupti, consequatur!</p>
          <p>Nemo vel qui, numquam totam aliquam aperiam minima illo distinctio delectus earum corrupti, quas iusto voluptatum, debitis sunt harum velit possimus officia unde exercitationem, quaerat eaque amet libero? Et, voluptatum!</p>
          <p>Animi quos illo, iure assumenda explicabo iusto dolor doloribus quam aliquid veniam, dolorem tempore numquam praesentium alias cum neque sit deserunt laudantium non! Ipsum, illum. Porro accusantium molestias quos expedita?</p>
        </div>
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum doloremque alias laborum at quod, blanditiis atque illum sapiente culpa ipsum praesentium, porro inventore magni deserunt, fugiat! Ullam placeat fuga quia!</p>
          <p>Dolorum dolore fuga unde magni dolorem accusantium eius, accusamus ex id ea laudantium laboriosam in architecto beatae, illum non ipsam eveniet molestias incidunt harum. Consequatur nihil non voluptatum animi eos.</p>
          <p>Corrupti sapiente harum deserunt illo, facilis officia vel cumque aliquid asperiores suscipit rerum dolorem exercitationem blanditiis voluptatum ducimus, soluta commodi libero at alias, excepturi saepe et! Ut eligendi, ratione consectetur.</p>
          <img src='/content/images/logo.png' class='img-responsive mascot' flyIn [trigger]='0.8' />
        </div>
      </div>
      <div class='end-'></div>
    </div>
  </div>

</div>