.title {
  font-size: 30px;
}
.section {
  color: #444;
  .slide {
    background-color: #fff;
    padding: 40px 0;
  }
}
.section:last-child .slide {
  min-height: 100vh;
}
ul.icons {
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;
    font-size: 40px;
    margin: 10px;
    color: seagreen;
  }
}

img.mascot {
  max-height: 400px;
}
